/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";
@import "zen";
@import "isotope.scss";

$zen-grid-width: 800px;
$zen-column-count: 6;
$zen-gutter-width: 10px; 

body {
  background-image: url("../images/bg-1_grey.jpg");
  background-size: cover;
  margin: 20px;
}

.container {
  //@include zen-grid-container;
}

.item {
  position: relative;
  float: left;
  width: 150px;
  height: 143px;
  padding: 30px 30px 0 30px;
  margin: 0 10px 15px 10px;

  .border {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 200px;
    height: auto;
    z-index: 999;
    overflow: hidden;

    img {
      width: 200px;
      height: auto;
    }
  }
}

.width2 {
  width: 380px;
  height: 316px;

  .border {
    width: 440px;
    top: 0;
    left: 0;

    img {
      width: 440px;
      height: auto;
    }
  }
}

/*.item:hover {
  min-width: 300px;
  padding: 50px 50px 0 50px;

  .border {
    width: 400px;
    height: auto;
    top: 2px;
    left: 2px;
    img {
      width: 400px;
      height: auto;  
    }
  }
}*/